.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px 20px;
}

.logo {
  height: 40px;
  width: auto;
}

.nav {
  flex: 1;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  list-style: none;
  padding: 0px;
  margin-top: 20px;
}

.link {
  position: relative;
  text-decoration: none;
  padding-bottom: 4px;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #ff8000;
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

.active::after {
  width: 100%;
}

.menuButton {
  display: none;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 30;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 20px;
    right: 20px;

    padding: 20px;
    border-radius: 10px;
    z-index: 20;

    /* transform: translateX(100%);
    transition: transform 0.3s ease; 右側からスライド */
    transform: scale(0.8);
    opacity: 0;

    transition: all 0.3s ease;
  }

  .nav ul {
    flex-direction: column;
    align-items: flex-start;
    background: #444;

    gap: 20px;
    padding: 20px;
  }

  .open {
    /* transform: translateX(0);右側からスライド */
    transform: scale(1);
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: 0.3s ease;

  z-index: 10;
}

.overlayOpen {
  opacity: 1;
}
